// font-size vars
$fontsize-large-xxxx = 2rem
$fontsize-large-xxx = 1.7rem
$fontsize-large-xx = 1.5rem
$fontsize-large-x = 1.3rem
$fontsize-large = 1rem
$fontsize-medium = 0.8rem
$fontsize-small = 0.7rem
$fontsize-small-s = 0.6rem

// radius-size
$radius-size-medium = 0.5rem
