
.v-form {
  padding: 1rem;

  .v-form-title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: $fontsize-large-xxx
  }

  .v-form-item {
    margin-bottom: 1rem;
  }

  .v-form-btns {
    padding: 0.5rem 0rem;
  }
}
